root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
ij_java_method_parameters_wrap = on_every_item
ij_java_align_multiline_parameters = true
ij_java_do_not_wrap_after_single_annotation_in_parameter = true
